div
  form(action="/f/new)" method="post")
    div
      label Title
      input(type="text" name="title")
        
    div
      label Category
      input(type="text" name="category")
    div
      label Description
      input(type="text" name="description")
    div
      input(type="submit" value="Post!")
    
