//- TODO list recent or popular forums or categories
h1 Forums
button 
  a(href="../") Home
br
br
a(href="/f/new") New Post
div
  ul
    each x in result
      li
        a(href='/f/' + x.slug) 
          h1= x.title
        h3= x.category
          p= x.description
