extends layout

block content
  h1= title
  ul
    li: a(href="users/signup") Sign Up
    li: a(href="users/login") Log In
    li: a(href="users/profile") Profile #{user.slug}
  p Welcome to #{title}
  p  #{views}
