form(action="/users/signup" method="post")
  div
    label Name
    input(type="text" name="name")
  div
    label Email
    input(type="text" name="email")
  div
    label Username
    input(type="text" name="username")
  div
    label Password
    input(type="password" name="password")
  div
    label Confirm Password
    input(type="password" name="password2")
  div
    label submit
    input(type="submit")
